@tailwind base;
@tailwind components;
@tailwind utilities;





.shimmer-boc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.shimmer {
  width: 201px;
  height: 350px;
  border-radius: 10px;
  background-color: #a7a0a0;
  background-image: linear-gradient(to right, #f6f6f6, #c7c4c4);
  background-size: 1000px 640px;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1000px 0px;
  }
}

